.MenuItem{
  background-color: grey;
  color: black;
  text-align: center;
  margin: 15px;
  width: 70vw;
  height: 20vh;
  text-transform: uppercase;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

h1 {
  background-color: rgb(245, 230, 230);
  opacity: 0.73;
  border-radius: 20px 20px 0 0;
  font-size: 25px;
}