.button {
  min-height: 40px;
  width: 40%;
  max-width: 150px;
  vertical-align: middle;
  margin: 12px auto;
  color: white;
  font-weight: 500;
  background-color: rgb(228, 64, 42);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    cursor: pointer;
    background-color: rgb(228, 95, 42);
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)
  }

  &:active{
    cursor: pointer;
    background-color: rgb(228, 95, 42);
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
  }
}

