.Item{
  background-color: grey;
  color: black;
  text-align: center;
  margin: 15px;
  width: 70vw;
  height: 20vh;
  text-transform: capitalize;
  background-position: center;
  background-size: cover;
  border-radius: 20px;

  &:hover{
    animation: enlarge 2s;
  }
}

p {
  background-color: rgb(245, 230, 230);
  opacity: 0.85;
  border-radius: 20px 20px 0 0;
  font-size: 20px;
  font-weight: 500;
}

@keyframes enlarge {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}