.CheckoutItem {
  width: 100%;
  text-align: center;
  margin: 5px 0;
  align-items: center;
  text-transform: capitalize;

  .itemImage {
    img {
      height: 40px;
      width: 40px;
    }
  }

  .quantity {
    font-weight: 400;

    .itemCount {
      align-self: center;
    }

    .delete {
      margin-right: 8px;
    }
    .add {
      margin-left: 8px;
    }

    .delete, .add {
      font-size: 20px;
      font-weight: 600;
      align-self: center;
      cursor: pointer;
    }
  }

}