.CheckoutPage {
  width: 100%;
  display: grid;
  font-size: 15px;

  .checkoutHeader {
    border-bottom: 1px solid rgba(128, 128, 128, 0.527);
    text-align: center;
    width: 100%;
    justify-self: center;
  }

  .checkoutItem {
    text-align: center;
    width: 100%;
  }

  .divider {
    border-top:1px solid #e2e2e2;
  }

  .totalPrice {
    margin: 10px 5px 0 0 ;
    justify-self: right;
    margin-right: 10px;
    font-weight: 500;
  }

  .StripeButton {
    margin-top: 5px;
   display: flex;
   flex-direction: row;
   justify-content: center;
  }

  .testModeMessage {
    margin-top: 20px;
    font-weight: 300;
    color: rgb(129, 14, 14);
  }
}