a {
  text-decoration: none;
}

.Menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-evenly;
  background-image: linear-gradient(to bottom right, rgb(248, 242, 242), rgb(185, 185, 185) );;
}