a {
  text-decoration: none;
}

.Menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-evenly;
  background-image: linear-gradient(to bottom right, rgb(250, 249, 249), rgb(226, 226, 226) );
}